.checkedItem {
    font-style: italic;
    color: gray;
    text-decoration: line-through;
    background-color: #d0d0e1;
}

.uncheckedItem {
    font-style: normal;
    color: black;
    text-decoration: none;
    background-color: normal;
}

.Dbutton {
    float: right;
    margin-right: 25%;
}

li {
    margin: 15px 0 10px 0;
}

button {
    margin-left: 1%;
    margin-right: 1%;
}

#totalCounter {
    margin-left: 2%;
    margin-right: 13%;
}

#clearCompleted {
    /*float: right;*/
    margin-right: 5%;
    margin-left: 10%;
}

.hidden {
    
}

.shown {
    
}

/*.foot {
    display: inline;
}*/